:root {
    --hex-radius: 40px;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#game-canvas {
    width: 100%;
    height: 100%;
}

#menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
}

#end-turn-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Убедиться, что кнопка выше всего */
}

#end-turn-button:disabled {
    background-color: #888;
}